* {
  box-sizing: border-box;
}

p {
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
  color: #404040;
}

video{
  min-width: 100%;
  min-height: 100%;
}


.wrapper{
  width: 80%;
  margin: 0 auto;
}

.highlight{
  background: yellow;
}

.mejs__controls:not([style*="display: none"]) {
  background: hsla(0, 50%, 50%, 0);
  padding: 0;
}

.mejs__time-current{
  background: white;
}

.mejs__controls{
  flex-wrap: wrap;
  flex-direction: row;
  bottom: 40px;

}

.mejs__time-rail{
  width: 100%;
}

.mejs__time{
  margin-right: auto;
}

.mejs__controls mejs__offscreen{
  /*overflow: visible;*/
  bottom: 40px;
}

.mejs__playpause-button{
    margin-left: 10px;
}

.mejs__fullscreen-button{
    margin-right: 13px;
}

.mejs__controls mejs__offscreen{
}
