* {
  box-sizing: border-box;
}


p {
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
  color: #404040;
  line-height: 1.50em;
}

video{
  min-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  text-align: center;
}

#caption-content{
  width:90%;
  margin: 0 auto;
}

.wrapper{
  width: 75%;
  margin: 0 auto;
}

.highlight{
  color: #FC814A;
}

.mejs__controls:not([style*="display: none"]) {
  background: #382B38;
  padding: 0;
}

.mejs__time-current{
  background: #FC814A;
}
